#include <windows.h>
#include "../common/log.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE {
    1   "RADDI"
    2   "DISCUSSION NETWORK"

    // view tabs
    0x11    "[Ctrl+???] All Network View"
    0x12    "[Ctrl+???] Favorite Channels Digest"
    0x13    "[Ctrl+???] Replies and Notifications"
    0x14    "[Ctrl+???] Private Messages"
    0x1A    "[Ctrl+T] Open New Tab, [SHIFT] to re-open last closed Tab"
    0x1B    "[Ctrl+???] History of last closed Tabs"
    0x1C    "[Ctrl+???] List of overflowing Tabs (that don't fit)" 
    // list tabs
    0x20    "Channels"
    0x21    ""
    0x22    "Identities"
    0x23    ""
    0x24    "TODO: Hint text. ""Bookmark channels/people/threads or posts into this list by ..."" "
    0x25    "Loading...\n\nConnecting to node software, the list will populate shortly. If not, press F1 for help how to resolve this problem."
    0x2C    "[Ctrl+???] List of overflowing List (that don't fit)"
    // feed tabs
    0x30    "Activity"
    0x31    ""
    0x32    "Interests"
    0x33    ""
    0x34    "Tweets"
    0x35    ""
    0x3A    "[F4] Hide/Show right pane"
    // identities
    0x40    "Right Click to Manage Identities, [SHIFT+Click] to show hidden identities --- TODO"

    // lists columns
    0x50    "Name"
    0x51    "Original name"
    0x52    "Resolved name"
    0x53    "Custom name"
    0x54    "ID"
    0x55    "Date/Time created"
    0x56    "Topics in channel"
    0x57    "Active participants in channel"
    0x58    "Posts by author"
    // TODO: menu item to customize range? count voters? how many replies count? count posts? count only posts not removed as spam?

    // new list title dialog
    0x60    "New List"
    0x61    "&Name:"
    0x62    "Create"
    0x64    "Cannot create new List. Supported maximum reached."
    0x65    "Rename List"
    0x66    "New &name:"
    0x67    "Rename"
    0x68    "&New List…" // "Move Item" submenu item

    // list groups
    0x70    "Default Group"
    0x71    "&New Group…" // "Move Item" submenu item

    // rename list group dialog
    0x72    "New Group"
    0x73    "&Name of the new group:"
    0x74    "Create"

    0x75    "Rename Group"
    0x76    "New &name:"
    0x77    "Rename"


    MAIN | EVENT | 0x01 "raddi.net {1}.{2} {3}, {4}, {5}"
    MAIN | EVENT | 0x02 "generated uuid {1}"
    MAIN | EVENT | 0x03 "database file: {1}"

    MAIN | NOTE | 0x01  "using argument {1}: {2}"
    MAIN | NOTE | 0x05  "{1} version {2}, linkage: {3}"

    MAIN | NOTE | 0x10  ""

    // 0x2x - Node Connection (app/node.cpp)
    MAIN | NOTE | 0x20  "initialized, parameter {2}, notify thread {1}"
    MAIN | NOTE | 0x21  "connected"
    MAIN | NOTE | 0x22  "disconnected"
    MAIN | NOTE | 0x23  "data {1} change notification"
    MAIN | NOTE | 0x2F  "finished"

    // 0x30 - Resolver
    MAIN | NOTE | 0x30  "initialized"
    MAIN | NOTE | 0x31  "updated {1} rules, erased {2} windows ({3} registrations) and {4} other registrations; added {6} registrations for {5} enqueued EIDs"
    MAIN | NOTE | 0x32  "abandoned {1} registrations"
    MAIN | NOTE | 0x33  "window {1} gets assigned index {2}"
    MAIN | NOTE | 0x34  "provided resolved title {1} of entry {2} for {3} (index {4})"
    MAIN | NOTE | 0x35  "provided initial title {1} of entry {2} for {3}, queued to resolve: {4}"
    MAIN | NOTE | 0x3F  "finished"

    MAIN | ERROR | 0x01 "Error attaching database files. Applicataion state may be broken/lost. Identities and decryption keys may not be available. The situation might be temporary."
    MAIN | ERROR | 0x02 "Internal error, uncaught exception: {1}.\nThe affected window has been closed. Consider restarting whole application. Also reporting the bug to developers would be nice."
    MAIN | ERROR | 0x03 "Error reopening stashed tabs. SQLite error: {1}"
    MAIN | ERROR | 0x04 "Error reading channel lists. SQLite error: {1}"
    MAIN | ERROR | 0x05 "Unable to create (another) window. Not enough memory."
    MAIN | ERROR | 0x06 "Data reading/manipulation error. SQLite error: {1}"
    // MAIN | ERROR | 0x06 "DEBUG {1:x} {2:x} {3}"

    // 0x2x - Node Connection (app/node.cpp)
    MAIN | ERROR | 0x20 "unknown exception"
    MAIN | ERROR | 0x21 "exception {1} processing event"

    MAIN | STOP | 0x00  "RADDI.net Application\nversion {1}, {2}, {3}\n\nError {ERR}\n\nReason: "
    MAIN | STOP | 0x01  "Executable corrupted, miscompiled or unexpected API error"
    MAIN | STOP | 0x02  "Failed to initialize cryptography (libsodium)"
    MAIN | STOP | 0x03  "Failed to initialize database (sqlite)"
    MAIN | STOP | 0x04  "Unable to open database file:\n{1}"
    MAIN | STOP | 0x05  "Failed to initialize database file:\n{1}"
    MAIN | STOP | 0x06  "Failed to enqueue request, error:\n{1}"
    MAIN | STOP | 0x07  "Failed to enqueue requested URI(s) to:\n{1}\nMissing required directory permissions or similar error."
    MAIN | STOP | 0x08  "Cannot enqueue requested URI(s) to:\n{1}\nAnother user/session is using the file."
    MAIN | STOP | 0x09  "Failed to create application window."
    MAIN | STOP | 0x0A  "Failed to enqueue requested URI(s) to:\n{1}\nUnable to notify running application."
    MAIN | STOP | 0x0B  "Error {1} initializing database query:\n{2}"
    MAIN | STOP | 0x0C  "Failed to initialize node connection worker thread"
}

2 ACCELERATORS {
    
}

0x10 MENU {
    // Main View Tab
    //  - \x200C prefix = available for fixed views
    //
    POPUP "" {
        MENUITEM L"\x200C&New Tab\tCtrl+T", 0xC1
        MENUITEM "&Stack New Tab\tCtrl+Y", 0xC3
        MENUITEM SEPARATOR
        // TODO: POPUP "Move To..." > list of other windows (highlight window when menu item is hot?)
        MENUITEM "&Duplicate\tCtrl+K", 0xC5//, GRAYED
        // MENUITEM SEPARATOR
        // POPUP L"\x200BAdd to List" {
        //    MENUITEM "-", -1
        //}
        MENUITEM SEPARATOR
        MENUITEM "&Close Tab\tCtrl+W", 0xCD
        MENUITEM "&Close Stack…", 0xCC
    }
}

0x20 MENU { // Lists Tabs Right Click Menu, \x200C prefix = available for fixed Lists
    POPUP "" {
        MENUITEM L"\x200C&New List…", 0xA1
        MENUITEM SEPARATOR
        //MENUITEM "Duplicate", 0xA2
        MENUITEM "&Rename…\tF2", 0xA3
        //POPUP "Merge to" {
        //    MENUITEM "TODO: List of other Lists", -1
        //}
        //POPUP "Move" { // TODO: drag&drop?
        //    MENUITEM "Front", -1
        //    MENUITEM "Left", -1
        //    MENUITEM "Right", -1
        //    MENUITEM "Back", -1
        //}
        //MENUITEM SEPARATOR
        //POPUP "Style" { // TODO: style of fixed tabs
        //    MENUITEM "Text", -1
        //    MENUITEM "Icons", -1
        //}
        //MENUITEM SEPARATOR
        MENUITEM "&Delete…", 0xAD
    }
}

/*0x21 MENU { // Lists Header Right Click Menu, TODO: IDs, TODO: dynamically from columns? // TODO: no columns?
    POPUP "" {
        MENUITEM "Icon", 1
        MENUITEM "Name", 2
        MENUITEM "Original name", 2
        MENUITEM "Resolved name", 2
        MENUITEM "Custom name", 2
        MENUITEM "EID", 2
        MENUITEM "Date/Time created", 2
        MENUITEM SEPARATOR
    }
}*/

// NOTE: marks available are \x200C \x200B \x200D

0x22 MENU { // Lists Sub (Group) Menu
    POPUP "" {
        MENUITEM "Open all // TODO", -1 // DEFAULT
        MENUITEM "Open separately // TODO", -1 // DEFAULT
        MENUITEM SEPARATOR
        /*POPUP "Move group // TODO" {
            MENUITEM "Top", -1
            MENUITEM SEPARATOR
            MENUITEM "Up", -1
            MENUITEM "Down", -1
            MENUITEM SEPARATOR
            MENUITEM "Bottom", -1
        }*/
        // MENUITEM "Sort groups…", -1
        MENUITEM L"Rename group…\tF2", 0xB3
        //MENUITEM L"Duplicate… // TODO", -1
        MENUITEM SEPARATOR
        MENUITEM "Add channel…", 0xB0
        MENUITEM SEPARATOR
        POPUP L"\x200BMove group to" {
            MENUITEM "-", -1
        }
        MENUITEM L"Delete…", 0xBD
    }
}

0x23 MENU { // List Items Right Click Menu
    POPUP "" {
        MENUITEM "Open // TODO", -1 // DEFAULT
        MENUITEM SEPARATOR
        // TODO: open author's channel
        // TODO: subscribe? preload content
        // TODO: Copy EID
        // TODO: mod ops: ... ban, ban author
        // TODO: remove (just me, or delete from computer)
        // MENUITEM SEPARATOR
        MENUITEM "Rename\tF2", 0xF2
        MENUITEM "Revert name", 0xB5
        POPUP L"\x200BMove to" {
            MENUITEM "-", -1
        }
        MENUITEM "Delete…", 0xBE // TODO: unsubscribe if deleted from last list?
    }
}

0x24 MENU { // List canvas Right Click Menu
    POPUP "" {
        MENUITEM "Add channel… // TODO", 0xB0 // TODO: edit box to insert EID
        // MENUITEM SEPARATOR
        // MENUITEM "Merge all groups…", -1
        // MENUITEM "Clear…", -1
        // MENUITEM "Sort groups", -1
    }
}

0x25 MENU { // Channels/Identities Lists Items Right Click Menu, TODO: \x200C prefix = available on click on whitespace
    POPUP "" {
        MENUITEM "Open // TODO", -1 // DEFAULT
        POPUP L"\x200BAdd to list" {
            MENUITEM "-", -1
        }
        MENUITEM SEPARATOR
        // MENUITEM "Pin/Unpin", -1 // Mark/Unmark?
        MENUITEM "Rename…\tF2", 0xF2
        MENUITEM "Revert name", 0xB6
        //MENUITEM "Copy EID", -1 // as raddi://a1b2c3d4-e5f6/
        // MENUITEM SEPARATOR
        // POPUP "Moderation" -> "Rename..." ...
        // MENUITEM L"Delete…", -1
        // MENUITEM SEPARATOR
        // MENUITEM L"\x200CNew Identity", -1
        // MENUITEM L"\x200CNew Channel", -1
        MENUITEM SEPARATOR
        //POPUP L"\x200CSort" {
        //    MENUITEM "", -1 // dynamically generated
        //}
        //POPUP L"\x200CColumns" {
        //    MENUITEM "", -1 // dynamically generated
        //}
        MENUITEM L"\x200CRefresh", 0xDF

        // items: show/hide hidden, hide this, remove (just me, delete from computer)
        //  mod ops: ... ban, ban author

        // open author's channel for channels?
        // hide this, remove (just me or delete from computer)
        // mod ops: ... ban, ban author
        // copy 'eid' to clipboard
    }
}

0x40 MENU { // Identities Drop-down Right Click Menu
    POPUP "" {
        MENUITEM "New Identity", -1
        MENUITEM "Copy Identity ID", -1 // TODO: display the ID here; copy name too?
        MENUITEM "Manage", -1
    }
}


1 DIALOGEX 0, 0, 187, 57
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
FONT 9, "Segoe UI"
{
    CONTROL "", 256, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 179, 10
    CONTROL "", 257, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 172, 12
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 36, 50, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 36, 50, 14
}
