#include <windows.h>
#include "../common/log.h"

// TODO: revamp string numbering
// TODO: remove levels (EVENT,ERROR,...) and add CLASS below COMPONENT level
// TODO: levels will be decided in code


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    // console handler codes
    0x00010 "Ctrl+C"
    0x00011 "Ctrl+Break"
    0x00012 "console close"
    0x00015 "user log off"
    0x00016 "system shutdown"

    // socks5t proxy error codes
    0x00020 "" // success
    0x00021 "general failure"
    0x00022 "not allowed"
    0x00023 "network unreachable"
    0x00024 "host unreachable"
    0x00025 "refused"
    0x00026 "" // standard timeout
    0x00027 "not supported"
    0x00028 "address type not supported"
    0x00029 "unknown"

    // service handler requests
    0x00101 "stop"
    0x00102 "pause"
    0x00103 "continue"
    // 0x00104 "interrogate"
    0x00105 "shutdown"
    0x00106 "reload parameters"
    // 0x00107 "net Bind Add"
    // 0x00108 "net Bind Remove"
    // 0x00109 "net Bind Enable"
    //0x0010A "net Bind Disable"
    0x0010B "device change"
    0x0010C "hardware change"
    0x0010D "power event"
    0x0010E "session change"
    0x0010F "finish and shutdown" // Preshutdown
    0x00110 "time change"
    0x00111 "user logged off"
    0x00140 "user initiated shutdown"
    0x00160 "low resources"
    0x00161 "system low resources"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    MAIN | EVENT | 0x01 "raddi.net {1}.{2} {3}, {4}"
    MAIN | EVENT | 0x02 "system time change {1} to {2}"
    MAIN | EVENT | 0x03 "{1:%04u-%02u-%02u}"
    MAIN | EVENT | 0x04 "low on memory, optimizing"
    MAIN | EVENT | 0x05 "received command {1} with {2} bytes of data"
    MAIN | EVENT | 0x06 "entry {1} successfully erased"
    MAIN | EVENT | 0x07 "service control request {1}"
    MAIN | EVENT | 0x08 "terminating console instance on {1}"
    MAIN | EVENT | 0x09 "system suspend in progress..."
    MAIN | EVENT | 0x0A "system resumed"
    
    MAIN | EVENT | 0x21 "entry {1} broadcasted through {2} connections"

    MAIN | ERROR | 1    "library {1} missing"
    MAIN | ERROR | 2    "function {2} missing from {1}"
    MAIN | ERROR | 3    "registry access {1} failed, reporting restricted, error {ERR}"
    MAIN | ERROR | 4    "resources warning, spun only {1} of {2} thread-pool threads"
    MAIN | ERROR | 5    "worker {1} ({2}): out of memory"
    MAIN | ERROR | 6    "worker {1} ({2}): uncaught exception {3}"
    MAIN | ERROR | 7    "memory warning, won't honor reservation for {1} connections"
    MAIN | ERROR | 8    "command {1} failed with {2} exception"
    MAIN | ERROR | 9    "entry {1} erase failed, no such entry or database failure"
    MAIN | ERROR | 10   "failed to initialize system facility, error {ERR}"
    MAIN | ERROR | 11   "HW support for {1} encryption scheme is not available, reverting to default {2}"
    MAIN | ERROR | 0x20 "bootstrap: failed to parse URL {1}, error {ERR}"
    MAIN | ERROR | 0x21 "bootstrap: failed to prepare request to {1}:{2}, error {ERR}"
    MAIN | ERROR | 0x22 "bootstrap: failed to prepare request to {1}:{2}{3}, error {ERR}"
    MAIN | ERROR | 0x23 "bootstrap: failed to send request, error {ERR}"
    MAIN | ERROR | 0x24 "bootstrap: failed to set sever credentials, error {ERR}"
    MAIN | ERROR | 0x25 "bootstrapping failed to retrieve data, state {1}, error {ERR}"
    MAIN | ERROR | 0x26 "bootstrapping failed, error {ERR}"
    MAIN | ERROR | 0x27 "bootstrapping failed, server status {1}"
    MAIN | ERROR | 0x28 "bootstrap: {2} DNS query for {1} error {ERR}"
    MAIN | ERROR | 0x29 "bootstrap: DNS URI {1} error, {2} is not valid port number, using {3} as default"
    MAIN | ERROR | 0x2A "bootstrap: DNS URI {1} error, unsupported record type {2}, use A or AAAA"

    MAIN | DATA | 8     "command rejected, unknown type {1}"
    MAIN | DATA | 9     "command {1} rejected, not enough data, {2} bytes required"
    MAIN | DATA | 0x28  "bootstrap: no {2} DNS record for {1} available"

    MAIN | NOTE | 1     "applying option {1}: {2}"
    MAIN | NOTE | 2     "invoking {1}:{2}"
    MAIN | NOTE | 3     "worker {1} ({2}) started"
    MAIN | NOTE | 4     "worker {1} ({2}) finished"
    MAIN | NOTE | 5     "{1} version {2}, linkage: {3}"
    MAIN | NOTE | 6     "only {1} encryption available"
    MAIN | NOTE | 0x10  "" // blank, notes 0x10..0x1F reserved for content creation (raddi.com and raddi.exe)

    MAIN | STOP | 1     "executable corrupted or miscompiled"
    MAIN | STOP | 4     "management thread failed, terminating, error {ERR}"
    MAIN | STOP | 5     "winsock extension {1}:{2} unavailable"
    MAIN | STOP | 7     "worker {1} ({2}): unknown exception"

    SOURCE | NOTE | 1   "changes in directory, {1} bytes" // monitor
    SOURCE | NOTE | 2   "rescanning directory to process files previously in use" // monitor
    SOURCE | NOTE | 3   "resizing buffer to {1} bytes to improve performance" // monitor
    SOURCE | EVENT | 1  "{1}" // input path
    SOURCE | EVENT | 2  "started"
    SOURCE | EVENT | 3  "paused"
    SOURCE | EVENT | 4  "received file {1}"
    SOURCE | ERROR | 1  "unable to access file {1}, error {ERR}"
    SOURCE | ERROR | 2  "won't process nor broadcast file {1}, invalid content"
    SOURCE | ERROR | 3  "unable to access requested source path {1} error {ERR}"
    SOURCE | ERROR | 4  "failed to create temporary directory {1} error {ERR}"
    SOURCE | ERROR | 5  "won't process nor broadcast, unable to listen for files in {1} error {ERR}" // monitor and source both
    SOURCE | ERROR | 6  "listening stopped, failed with error {ERR}" // monitor
    SOURCE | ERROR | 7  "overflow, rescanning source directory, error {ERR}" // monitor
    SOURCE | ERROR | 8  "unable to start, error {ERR}"
    SOURCE | ERROR | 9  "won't process nor broadcast file {1}, truncated"

    SERVER | NOTE | 1       "{1}, {2} B pending, {3}s idle; RCV {4}: msgs {5}, k/a {6}; TRM {7}: delayed {8}"
    SERVER | NOTE | 2       "currently connected to {1} nodes ({2} core nodes)"
    SERVER | NOTE | 3       "reflected connection dropped"
    SERVER | NOTE | 4       "connecting through SOCKS5t proxy {1}"
    SERVER | NOTE | 5       "reciprocal connection dropped"
    SERVER | NOTE | 7       "sending {1} request, {2} + {3} bytes of data"
    SERVER | NOTE | 8       "peer {4} requests {1} with {2} + {3} bytes of data"
    SERVER | NOTE | 9       "peer {4} announces {1} address {5}"
    SERVER | NOTE | 10      "configuratation disallows conforming to received soft flags: {1:X}"
    // coordinator
    SERVER | NOTE | 0x20    "peer, known, listens on port {1}"
    SERVER | NOTE | 0x21    "peer, new, listens on {1}, will try to connect and confirm this later"
    SERVER | NOTE | 0x22    "peer {1} shares new peer {2}"
    SERVER | NOTE | 0x23    "core node {1} shares core node address {2}"
    SERVER | NOTE | 0x24    "broadcasting {2} port {1}" //  (TCP) on port {3} (UDP)
    SERVER | NOTE | 0x25    "replying with {2} port {1} to {3}"
    SERVER | NOTE | 0x27    "{1} {2} history span: {5} entries in range {3:x}..{4:x}, we have {6} in this range"
    SERVER | NOTE | 0x28    "peer {1} requested download of entries of channel {4} in range {2:x}..{3:x}"
    SERVER | NOTE | 0x29    "peer {1} requested download of all entries in range {2:x}..{3:x}"
    SERVER | NOTE | 0x2A    "peer {1} announced address {2} is on blacklist, ignored"
    SERVER | NOTE | 0x2B    "sent peer {1} {4} entries of thread-level history for channel {2} ending at {3:x}"

    // coordinator
    SERVER | DATA | 0x20    "peer {1} exceeded {2} requests per second limit"
    SERVER | DATA | 0x21    "peer {1} cannot validate own address" // node is probably behind NAT
    SERVER | DATA | 0x22    "peer {1} cannot validate non public address {2}"
    SERVER | DATA | 0x23    "wrong protocol, expected {2}, received {1}"
    SERVER | DATA | 0x24    "packet truncated, expected {2} bytes, received only {1}"
    SERVER | DATA | 0x25    "peer {1} initial protocol identification failed"
    SERVER | DATA | 0x26    "peer {1} requests for all data denied, not enabled"

    SERVER | EVENT | 1      "remote peer {1} connection to {2} accepted as {3}"
    SERVER | EVENT | 2      "remote peer disconnected" // {1} is address, same as instance name
    SERVER | EVENT | 3      "unable to establish connection" // " to {1}"
    SERVER | EVENT | 4      "connection established, {1}"
    SERVER | EVENT | 5      "discovered local peer {1}"
    // localhost address cache (TODO: reorder to 0x3x -- TODO: maybe another level of named constants?)
    SERVER | EVENT | 6      "{1}" // new address
    SERVER | EVENT | 7      "removed: {1}"
    // connection (again)
    SERVER | EVENT | 8      "peer unresponsive, timed out, cancelling"

    // coordinator
    SERVER | EVENT | 0x20   "connection from blacklisted address {1} rejected"
    SERVER | EVENT | 0x21   "connecting to {1} node {2}..."
    SERVER | EVENT | 0x22   "remote peer {1} banned for {2} days"
    SERVER | EVENT | 0x23   "remote peer {1} deemed permanently unavailable"
    SERVER | EVENT | 0x24   "coordinator started, listening on {1} sockets"
    SERVER | EVENT | 0x25   "remote peer {1} disconnected; already connected"
    SERVER | EVENT | 0x26   "history report to {1} of {2} in range {3:x}..{4:x}+ in {5} spans ({8} bytes), total {6} entries in {7} shards"
    SERVER | EVENT | 0x27   "{1} reports {2} history, range {3:x}..{4:x} in {5} spans ({6} bytes), total {7} entries; wants everything since {8:x}"
    SERVER | EVENT | 0x28   "remote peer {1} manually unbanned"
    SERVER | EVENT | 0x29   "history report of {1} in range {2:x}..{3:x}+ in {4} spans ({6} bytes), total {5} entries"
    SERVER | EVENT | 0x2A   "bootstrap from {1}: adding core level node {2}"

    // connection
    SERVER | ERROR | 1      "socket {1}:{2}:{3} creation failed, error {ERR}"
    SERVER | ERROR | 2      "socket family {1} binding failed, error {ERR}"
    SERVER | ERROR | 3      "socket connection to {1} failed, error {ERR}"
    SERVER | ERROR | 4      "receive aborted, error {ERR}"
    // transmitter
    SERVER | ERROR | 5      "transmit ({1} bytes) aborted, error {ERR}"
    SERVER | ERROR | 6      "transmit ({1} bytes) failed, error {ERR}"
    // listener
    SERVER | ERROR | 7      "bind to {1} failed, error {ERR}"
    SERVER | ERROR | 8      "start failed, error {ERR}"
    SERVER | ERROR | 9      "connection accept failed, error {ERR}"
    SERVER | ERROR | 10     "{1} is not valid address or port number"
    // udp point
    SERVER | ERROR | 11     "data query failed, error {ERR}"
    SERVER | ERROR | 12     "cannot enable broadcast on UDP port {1}, error {ERR}"
    SERVER | ERROR | 13     "transmission failed, error {ERR}"
    // localhost address cache (TODO: reorder to 0x3? and etc, give evry sub-class its 16 entries?)
    SERVER | ERROR | 14     "update error {ERR}"
    // SOCKS5t proxy
    SERVER | ERROR | 15     "invalid proxy response"
    SERVER | ERROR | 16     "connection through proxy failed, code {1}: {2}"
    // connection (connect failures)
    SERVER | ERROR | 17     "aborted, checksum mismatch, probably different software/protocol"
    SERVER | ERROR | 18     "aborted, incompatible hard flags: {1:X}"
    SERVER | ERROR | 19     "aborted, clock difference {1} exceeds allowed maximum"
    SERVER | ERROR | 20     "aborted, peer doesn't support locally enforced AES mode"

    // coordinator
    SERVER | ERROR | 0x20   ""
    SERVER | ERROR | 0x21   "bootstrap from {1}: unable to add core level node address {2}, not recognized"
    SERVER | STOP | 0x20    "killing {1} stuck connections, this may crash..."
    SERVER | STOP | 0xF0    "bug: {1} bytes to transmit, prepared only {2}"
}